body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 40px;
}

form {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
